[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-registration-redux = "*"
pillow = "*"
djangorestframework = "*"
django-extensions = "*"
httpie = "*"
django-environ = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
