{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/hamburger.css' %}">
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <link href="{% static 'css/tailwind.css' %}" rel="stylesheet" type="text/css">
    {% block scripts %}
    <script src="{% static 'js/home.js' %}" defer></script>
    <script src="{% static 'js/map.js' %}" type="module" defer></script>
    <script src="{% static 'js/works.js' %}" type="module" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
    {% endblock %} 
    
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">

    <title>Art TRACKer</title>
</head>
    <body class="leading-normal bg-yellow-400">
        <div id="logo">
            <img src="{% static 'img/new_logo.png' %}" alt='logo'>
        </div>
        <section id="hamburger">
            <section class="p-menu1">
                <nav id="navbar" class="navigation" role="navigation">
                  <input id="toggle1" type="checkbox" />
                  <label class="hamburger1" for="toggle1">
                    <div class="top"></div>
                    <div class="meat"></div>
                    <div class="bottom"></div>
                  </label>
                
                  <nav class="menu1">
                      <a class="link1" href="places/tutorial">Tutorial</a>
                    <a class="link1" href="places/about">About</a>
                    <a class="lin1 kbutton-nav" href="">Contact</a>
                  </nav>
              </nav>
              </section>
        </section>
        </div>    
    {% block content %}
    {% endblock %}
</body>
</html>
