{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="max-w-4xl flex items-center lg:h-screen flex wrap mx-auto mt-10 lg:my-0">
    <div class="w-full lg:w-4/5 lg:rounded-l-lg lg:rounded-r-none mx-6 lg:mx-0">
        <div class="text-center grid-cols rounded-md border-black border-4 bg-white text-3xl font-Montserrat px-4 pt-4">
            <!-- <div class="flex p-4"> -->
                <!-- <h2 class="pr-4 font-bold">About Art TRACKer</h2> -->
                <p><strong>Art TRACKer</strong> is a capstone project created in 2021 by software engineers at <a href="https://www.momentumlearn.com/"><u>Momentum</u></a>.</p> 
                <br>
                <p>We hope you enjoy using this app to explore public art in Durham.</p>
                <br>
                <p>Developer Team Members:</p>
                <br>
                <p>Tijuan Brown is a full-stack software engineer with a passion for board games and anime.</p>
                <br>
                <p>Allison Durham's favorite color is mustard yellow. Her mom says she needs to stop acting like a flamingo and put her foot down.</p>
                <br>
                <p>Chris Lombardi is a Marine Corps veteran. He loves hunting, fishing, and spending time with his family.</p>
                <br>
                <p>Kim Wheaton is a software developer with a background in project management, small business entrepreneurship, and environmental science.</p>
                <br>
                
        </div>       
    </div>
</div>
</body>
{% endblock %}
</html>