{% extends 'base.html' %}

{% block content %}
<body>
    <article>
        <img class="photo" src="{{work.photo.url}}">
        <p class="font-Montserrat text-indigo-700">Title:{{work.title}}</p>
        {% for artist in work.creators.all %}
        <p>Artist:{{artist}}</p>
        {% endfor %}
        <p>Year Created:{{work.year}}</p>
        <p>Type:{{work.category}}</p>
        <p>Description:{{work.description}}</p>
        <p>Wheelchair Accessible:{{work.wheelchairAccessible}}</p>
    </article>
</body>
{% endblock %}
</html>