{% extends 'base.html' %}

{% block content %}
<body class="leading-normal bg-yellow-400">
    <section id="hamburger">
        <section class="p-menu1">
            <nav id="navbar" class="navigation" role="navigation">
              <input id="toggle1" type="checkbox" />
              <label class="hamburger1" for="toggle1">
                <div class="top"></div>
                <div class="meat"></div>
                <div class="bottom"></div>
              </label>
            
              <nav class="menu1">
                <a class="link1" href="">Galleries</a>
                <a class="link1" href="">Art Tours</a>
                <a class="link1" href="">Historical Art</a>
                <a class="link1" href="">About</a>
                <a class="lin1 kbutton-nav" href="">Contact</a>
              </nav>
          </nav>
          </section>
    </section>
    <div>
        <button onclick="goBack()">Go Back</button>
        <script>
            function goBack() {
              window.history.back();
            }
            </script>
    </div>
    <div class="max-w-4xl flex items-center h-auto lg:h-screen flex wrap mx-auto my-32 lg:my-0">
        <div class="w-full lg:w-4/5 lg:rounded-l-lg lg:rounded-r-none mx-6 lg:mx-0">
            <img class="object-contain md:object-scale-down rounded-md border-4 border-black mb-8" src="{{work.photo.url}}"> 
        
            <div class="text-center grid-cols rounded-md border-black border-4 bg-white text-3xl font-Montserrat">
                <div class="flex p-4">
                    <h2 class="pr-4 font-bold">Title:</h2>
                    <p>{{work.title}}</p>
                    
                </div>
                <div class="flex p-4">
                {% for artist in work.creators.all %}
                <h2 class="pr-4 font-bold">Artist:</h2>
                <p>{{artist}}</p>
                {% endfor %}
                </div>
                <div class="flex p-4">
                    <h2 class="pr-4 font-bold">Year Created:</h2>
                    <p>{{work.year}}</p>
                </div>
                <div class="flex p-4">
                    <h2 class="pr-4 font-bold">Type:</h2>
                    <p>{{work.category}}</p>
                </div>
                <div class="flex p-4">
                    <h2 class="pr-4 font-bold">Description:</h2>
                    <p>{{work.description}}</p>
                </div>
                <div class="flex p-4 ">
                    <h2 class="pr-4 font-bold">Wheelchair Accessible:</h2>
                    <p>{{work.wheelchairAccessible}}</p>
                </div>
            </div>
        </div>
    
    </div>
</body>
{% endblock %}
</html>