{% extends 'base.html' %}
{% load static %}

{% block content %}

<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="#">Your Logo</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="#">About</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>

<section class="home">
</section>
<div style="height: 1000px">
    <!-- just to make scrolling effect possible -->
        <h2 class="myH2">What is this ?</h2>
        <p class="myP">This is a responsive fixed navbar animated on scroll</p>
        <p </p>
        <p class="myP">I HOPE YOU FIND THIS USEFULL</p>
        <p class="myP">Art</p>
            <p class="myP">
            
            Info about Art TRACKer
        </p>
</div>

{% endblock %}

