{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'js/home.js' %}" defer></script>
    <script src="{% static 'js/map.js' %}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
    {% endblock %} 

{% block content %}

<section id="hamburger">
    <section class="p-menu1">
        <nav id="navbar" class="navigation" role="navigation">
          <input id="toggle1" type="checkbox" />
          <label class="hamburger1" for="toggle1">
            <div class="top"></div>
            <div class="meat"></div>
            <div class="bottom"></div>
          </label>
        
          <nav class="menu1">
            <a class="link1" href="">Galleries</a>
            <a class="link1" href="">Art Tours</a>
            <a class="link1" href="">Historical Art</a>
            <a class="link1" href="">About</a>
            <a class="lin1 kbutton-nav" href="">Contact</a>
          </nav>
      </nav>
      </section>
</section>

<section id="map">
</section>
<div style="height: 1000px">
    <!-- just to make scrolling effect possible -->
        <h2 class="myH2">Welcome To Art TRACKer</h2>
        <p class="myP"></p>
        <p class="myP">I HOPE YOU FIND THIS USEFULL</p>
        <p class="myP">Art</p>
            <p class="myP">
            
            Info about Art TRACKer
        </p>
</div>

{% endblock %}

