{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="max-w-4xl flex items-center h-auto lg:h-screen flex wrap mx-auto my-32 lg:my-0">
    <div class="w-full lg:w-4/5 lg:rounded-l-lg lg:rounded-r-none mx-6 lg:mx-0">
        <div class="text-center grid-cols rounded-md border-black border-4 bg-white text-3xl font-Montserrat">
                <p>Art TRACKer is an interactive guide to explore public art in Durham, NC.</p>
                <br>  
                <p>Each circle on the map represents a public work of art that you can visit: murals, sculptures, and painted crosswalks.</p>
                <br>
                <p>Tap on a circle to see a pop-up preview of the artwork.</p>
                <br>
                <p>Tap "See Details" on the pop-up to learn more about that work of art, including a description of the work, artist information, and wheelchair accessibility.</p>
                <br>
                <p>Use the map locations to explore a few or many art installations around Durham.</p>
                <br>
        </div>       
    </div>
</div>

{% endblock %}
